.btn {
        background-color: #000000;
        color: #FFFFFF;
        padding: 15px;
        vertical-align: baseline;
}

.signUp {
        background-color: #FFFFFF;
        color: #1D4ED8;
}

.login {
        background-color: #1D4ED8;
        color: #FFFFFF;
}

.getStarted {
        background-color: #F7CE46;
        color: #000000;
}

#getStartedContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
}

#getStartedContainer > span {
        margin-right: 5px;
}


.playVideo {
        background-color: #FFFFFF;
        color: #6183E4;
}
