.btn {
        background-color: #000000;
        color: #FFFFFF;
        padding: 15px;
}

.signUp {
        background-color: #FFFFFF;
        color: #1D4ED8;
}

.login {
        background-color: #1D4ED8;
        color: #FFFFFF;
}
